header#index {
    justify-content: center;
}

.logo {
    margin-top: 15vh;
    font-size: 35px;
}

.stage {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    height: 80%;
    width: 90%;
}

.stage .background-game {
    display: flex;
    justify-content: center;
    align-items: center;
}

.stage .background-game img {
    width: 100%;
    opacity: 0.5;
}

.stage > .background-game img:hover {
    opacity: 1;
}

.stage .title {
    font-weight: bold;
    font-size: 25px;
    letter-spacing: 0.01em;
    margin: 22px 0 15px;
}

.stage .subtitle {
    font-size: 18px;
    letter-spacing: -0.01em;
    text-align: center;
    font-family: 'Bitter', sans-serif;
    font-weight: normal;
    margin-bottom: 22px;
}

.stage .button {
    width: 200px;
    height: 50px;
    line-height: 50px;
    font-size: 24px;
    margin-top: 30px;
    color: var(--color-base);
    font-family: 'Bitter', serif;
    letter-spacing: -0.01em;
}

.stage .button:hover {
    transition: ease 0.2s;
    color: var(--color-links);
    box-shadow: 0px 0px 8px var(--color-links);
}